body{
    background-image: url('abeja.jpg');
    background-size: cover;
    color: #ffffff;
    background-repeat: no-repeat; 
    font-family: 'Adobe Clean', Arial, Helvetica, sans-serif; 
    

}

#result{
    position: relative;
    left: 2%;
    top: 50%;
    transform: translateX(-0%);
    margin-top: 25px;
    background-position-y: 50%;
    font-size: 12px;
}
button{
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px; /* Puedes ajustar el valor según la curvatura deseada */
    padding: 10px 20px; /* Ajusta el padding según el contenido */
    background-color: #fb8e00; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde predeterminado */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Quita la subraya de los enlaces */
    display: inline-block; /* Para que el botón se comporte como un elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    

  }
  
  /* Cambiar color del texto de los botones */
input[type="file"],
input[type="submit"] {
    color: white; /* Color del texto */
}

/* Cambiar color de fondo de los botones "Seleccionar archivo" y "Enviar" */
input[type="file"],
input[type="submit"] {
    background-color: rgb(255, 136, 0); /* Color de fondo */
}

#aplicacion{

    font-family: 'Adobe Clean', Arial, Helvetica, sans-serif;
    position: relative;
    left: 2%;
    top: 50%;
    transform: translateX(-0%);
    margin-top: 25px;
    background-position-y: 50%;
    font-size: 15px;
}
#apil{
    font-family: 'Adobe Clean', Arial, Helvetica, sans-serif;
    position: relative;
    left: 2%;
    top: 50%;
    transform: translateX(-0%);
    margin-top: 25px;
    background-position-y: 50%;
    font-size: 20px;
}




