body {
    background-image: url('beehive-5026859.jpg');
    background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
    color: white; /* Para que el texto sea legible */
    background-repeat: no-repeat;
  }

  #downloadLink{

    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px; /* Puedes ajustar el valor según la curvatura deseada */
    padding: 10px 20px; /* Ajusta el padding según el contenido */
    background-color: #ff7c02; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde predeterminado */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Quita la subraya de los enlaces */
    display: inline-block; /* Para que el botón se comporte como un elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
  }

  fieldset{
    
        border: none;
      

  }

  #fuente {

    font-family: 'Adobe Clean', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline;

  }

  #adobe{

    font-family: 'Adobe Clean', Arial, Helvetica, sans-serif;

  }

  #hola{

    font-family: 'Adobe Clean', Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  #button{

    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px; /* Puedes ajustar el valor según la curvatura deseada */
    padding: 10px 20px; /* Ajusta el padding según el contenido */
    background-color: #ff7c02; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde predeterminado */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Quita la subraya de los enlaces */
    display: inline-block; /* Para que el botón se comporte como un elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;

  }

  #plataforma{

    font-family: 'Adobe Clean', Arial, Helvetica, sans-serif;
    font-size: 18px;

  }
  
